//colores

$color-fondo: #f4f6f8;
$color-nav: #2c3e50;
$color-texto: #333;
$color-boton: #2c3e50;
$color-hover: #f39c12;

//tipografia
$font-principal: Arial, sans-serif;

//espaciado
$espaciado: 15px;