@use '../utilities/variables' as v;

.proyecto-card {
    border: 1px solid v.$color-borde;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    transition: border-color 0.3s;

    &:hover {
        border-color: v.$color-acento;
    }

    h2 {
        color: v.$color-texto;
        transition: color 0.3s;

        &:hover {
            color: v.$color-acento;
        }
    }

    p {
        color: v.$color-texto-secundario;
        margin-bottom: 0.5rem;
    }
}